<div class="container">
	<div class="page-header">
  		<h1>Designer <h5 class="pull-right">by jupox - <i class="fa fa-github"></i> <a href="https://github.com/jupox/designerFlow">GitHub jupoxs2@gmail.com</a></h5></h1>
	</div>
	<div class="row">
	    <div class="col-lg-12 col-md-12 co-sm-12 co-xs-12">
	       <!-- col-lg-12 start here -->
	        <div class="panel panel-primary">
	            <!-- Start .panel -->
	            <div class="panel-heading">
	                <h4 class="panel-title"><i class="fa fa-align-justify"></i> App
	                </h4>

	            </div>
	            <div class="panel-body">
	                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-2">
	                    <form id="ivr_designer_form" method="post">
	                        <div class="form-group">
	                            <label class="m10 control-label " for="name">Name:</label>
	                            <input type="text" class="ml10 form-control" id="nameApp" name="name" value="">
	                        </div>
	                    </form>
	                </div>
	                <div class="mt10 col-xs-12 col-sm-8 col-md-5 col-lg-3">
	                    <div class="y text-success text-center obj m10" alt="11" id="o11">
	                        <div class="objIcoContent">
	                            <i class=" objIco center-block fa fa-phone fa-3x text-success" ></i>
	                            <label class="nameObj ">Answer</label>
	                        </div>
	                    </div>
	                </div>
	                <div class="mt10 col-xs-12 col-sm-12 col-md-12 col-lg-7">
	                    <div class="y {{ node.color }} text-center obj m10" alt="{{ node.id }}" id="o{{ node.id }}">
	                        <div class="objIcoContent">
	                            <i class=" objIco center-block {{ node.icon }} fa-3x {{ node.color }} " ></i>
	                            <label class="nameObj "></label>
	                        </div>
	                    </div>
	                </div>

	                <div id="sceneBox" class="mt10 col-lg-12 col-md-12 col-sm-12 col-xs-12 scene">
	                </div>

	                <div class="center-block mt20 pull-right text-right">
	                    <button class="btn btn-success btn-lg pull-right" onclick="saveIvrApp();" >Save</button>
	                </div>

	            </div>
	        </div>
	    </div>
	</div>
</div>
<!-- Long Modal -->
<div id="propBox">
    <div class="modal fade" id="connectsModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Connections</h4>
                </div>
                <div class="modal-body" id="contentProperties">
                    <form id="connects" class="form-horizontal group-border stripped">
                        <div class="form-group">
                            <label class="col-lg-4 col-md-6 control-label">Check Connections</label>
                            <div id="checkAllConnects" class="col-lg-6 col-md-6">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Long Modal -->
</div>